version: '3.0'
services:
  mysql:
    container_name: mysql     
    image: mysql:8
    ports:
      - "15887:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      - "/data/mysql/data:/var/lib/mysql" 
      - "/data/mysql/config:/etc/mysql/conf.d"
